@import 'tailwindcss';

:root {
  --font-sans:
    'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --bg-primary: #1e1e1e;
  --bg-secondary: #252526;
  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;
  --primary-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --glass-border: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  font-family: inherit;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #172554;
  /* Un azul mucho más oscuro (Blue 950) */
  border-radius: 10px;
  border: 1px solid transparent;
  /* Casi pegado al borde */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e3a8a;
  /* Un poco más claro al hover */
}
